<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Ex Cerebrum</title>
        <meta charset="UTF-8" />
        <meta name="description" content="Chess bot that plays on Lichess.org" />
        <meta name="keywords" content="chess, lichess, ex-cerebrum, nodejs, node, js, javascript, AI, bot" />
        <meta name="author" content="Marcel Campovski" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/app/static/css/cerebrum.css" />
    </head>

    <body>
        <div id="header">
            <h1>Demo header</h1>
        </div>


        <div id="content">
            {% block content %}
            Ex Cerebrum is currently not playing any games.
            {% endblock %}
        </div>

        <div id="footer">
            <h3>Demo footer</h3>
        </div>
    </body>

</html>
